/* 스타일 초기화 */
*{
    box-sizing: border-box;
    margin:0; padding:0;
    font-family: '맑은 고딕','Malgun Gothic',Gothic,sans-serif;
}
body{
    background-color: #f6f6f6;
    /* width:960px; */
    width:100%;
    margin:0 auto;    
}

.content{
    /* width:960px; */
    max-width:100%;
    margin: 0 auto;
    
}

/* header 중앙 정렬 */
#main_header{
    height:100%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    line-height: auto;
    
   
}
#main_header>#title>h1{
    color:#2f9d27;
    font-size:40px;
}

/* 본문 */
td{
    font-size:14px;
}

select{
    text-align-last:center;
    text-align:center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
}



